<nz-layout nz-col [nzXs]='24'>
  <div class='template__container restHeight'>
    <h1 nz-typography class='higherPadding'>Przypomnienie hasła</h1>
    <form nz-form nzLayout='vertical' [formGroup]='formGroup' (ngSubmit)='submitFrom()'>
      <nz-form-item>
        <nz-form-label nzRequired><span>Email</span></nz-form-label>
        <nz-form-control [nzErrorTip]='formGroup.getValidationMessages("email")[0]'>
          <input nz-input nzSize='default' type='email' formControlName='email' name='email' />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired><span>Twoje pytanie weryfikacyjne:</span></nz-form-label>
        <nz-form-control [nzErrorTip]='formGroup.getValidationMessages("securityQuestion")[0]'>
          <nz-select nzServerSearch nzAllowClear formControlName='securityQuestion'>
            <nz-option nzLabel='Czy coś tam działa?' nzValue='Czy coś tam działa'></nz-option>
            <nz-option nzLabel='Jak się mają tomki?' nzValue='Jak się mają tomki'></nz-option>
            <nz-option nzLabel='Co pije krowa?' nzValue='Co pije krowa'></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired><span>Odpowiedź:</span></nz-form-label>
        <nz-form-control [nzErrorTip]='formGroup.getValidationMessages("securityQuestionAnswer")[0]'>
          <input nz-input nzSize='default' type='text' formControlName='securityQuestionAnswer'
                 name='securityQuestionAnswer' />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired><span>Nowe hasło:</span></nz-form-label>
        <nz-form-control [nzErrorTip]='formGroup.getValidationMessages("newPassword")[0]'>
          <nz-input-group [nzSuffix]='passwordTemplate'>
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              formControlName='newPassword'
              name='newPassword'
            />
          </nz-input-group>
          <ng-template #passwordTemplate>
            <i nz-icon [nzType]="!passwordVisible ? 'eye-invisible' : 'eye'"
               (click)='passwordVisible = !passwordVisible'></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired><span>Powtórz nowe hasło:</span></nz-form-label>
        <nz-form-control [nzErrorTip]='formGroup.getValidationMessages("passwordConfirmation")[0]'>
          <nz-input-group [nzSuffix]='confirmTemplate'>
            <input
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              nz-input
              formControlName='passwordConfirmation'
              name='passwordConfirmation'
            />
          </nz-input-group>
          <ng-template #confirmTemplate>
            <i nz-icon [nzType]="!confirmPasswordVisible ? 'eye-invisible' : 'eye'"
               (click)='confirmPasswordVisible = !confirmPasswordVisible'></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div nz-row nzJustify='end'>
        <button routerLink='/login' nz-button nzType='primary'>Wróć</button>
        <button type='submit'  nz-button nzType='primary' class='leftMargin'>
          Zatwierdź
        </button>
      </div>
    </form>
  </div>
</nz-layout>
