<nz-layout nz-col [nzXs]='24'>
  <div class='template__container restHeight'>
    <h1 nz-typography class='higherPadding'>Przypomnienie hasła</h1>
    <form nz-form nzLayout='vertical' [formGroup]='formGroup' (ngSubmit)='submitFrom()'>
      <nz-form-item>
        <nz-form-label nzRequired><span>Email</span></nz-form-label>
        <nz-form-control [nzErrorTip]='formGroup.getValidationMessages("email")[0]'>
          <input nz-input nzSize='default' type='email' formControlName='email' name='email' />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired><span>Twoje pytanie weryfikacyjne:</span></nz-form-label>
        <nz-form-control [nzErrorTip]='formGroup.getValidationMessages("securityQuestion")[0]'>
          <nz-select nzServerSearch nzAllowClear formControlName='securityQuestion'>
            <nz-option nzLabel='Czy coś tam działa?' nzValue='U'></nz-option>
            <nz-option nzLabel='Jak się mają tomki?' nzValue='F'></nz-option>
            <nz-option nzLabel='Co pije krowa?' nzValue='M'></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired><span>Odpowiedź:</span></nz-form-label>
        <nz-form-control [nzErrorTip]='formGroup.getValidationMessages("securityQuestionAnswer")[0]'>
          <input nz-input nzSize='default' type='text' formControlName='securityQuestionAnswer' />
        </nz-form-control>
      </nz-form-item>
      <div nz-row nzJustify='end'>
        <button routerLink='/login' nz-button nzType='primary'>Wróć</button>
        <button routerLink='/changeForgotPassword' type='submit' nz-button nzType='primary' class='leftMargin'>
          Zatwierdź
        </button>
      </div>
    </form>
  </div>
</nz-layout>
