@import "src/app/styles/main";

.section {
  display: grid;
 // grid-template-rows: 2fr 4fr;
  height: 100vh;
  @include respond-to('lg') {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }

  &__background {
    @include background-center("../../../assets/images/bookImage.jpg");
    height: 30vh;
    @include respond-to('lg') {
      height: 100vh;
    }
  }

  &__form {
    height: 60vh;
    @include respond-to('lg') {
      height: 100vh;
    }
  }
}

