@import "src/app/styles/main";

.wrapper {
  position: relative;
  height: 100vh;
  background: linear-gradient(180deg, $gray-dark 40%, $white 40%);
  z-index: 10;
  @include respond-to('lg') {
    background: linear-gradient(90deg, $gray-dark 30%, $white 30%);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 9fr;
  }


}

.section__background {
  flex-direction: column;
  height: 40vh;
  @include respond-to('lg') {
  }
}

.app-header {
  grid-column: 1/-1;
}


.section__content {
  border: 2px solid $primary-color;
  border-radius: 10px;
  padding: 150px 5vw 0 5vw;
  height: 60vh;
  @include respond-to('lg') {
    margin: 10vh 5vw 0 0;
    padding: 5vw 5vw 0 10vw;

    @include keyframes(transformX) {
      0% {
        transform: translateX(-100%);
        opacity: 0;

      }
      50% {
        transform: translateX(-30%);
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    @include animations(transformX, 2s, linear, 1);


  }

  @include keyframes(transformY) {
    0% {
      transform: translateY(-100%);
      opacity: 0;

    }
    50% {
      transform: translateY(-30%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @include animations(transformY, 2s, linear, 1);

}


.details {
  &__heading {
    font-size: map-get($font-size, 'l');
    color: $white;
    align-self: center;
    justify-items: center;
    font-weight: bold;
    @include respond-to('lg') {
      color: $gray-dark;
      position: relative;
      left: 200%;
      margin-top: 5vh;
      font-size: map-get($font-size, 'xl');
    }
  }

  &__cover {
  //  @include background-center("../../../assets/images/image_3.png");
    border-radius: 10px;
    min-width: 250px;
    height: 300px;
    box-shadow: 5px 5px 20px $gray-dark;
    align-self: center;
    position: absolute;
    top: 20vh;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
    }
    @include keyframes(show) {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @include animations(show, 1s, linear, 1);
    @include respond-to('lg') {
      max-width: 430px;
      width: 30vw;
      top: 10vh;
      height: 80vh;
      left: 10%;
    }
    @include respond-to('xl') {
      left: 15%;
    }
    @include respond-to('xxl') {
      left: 22%;
    }

  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    width: 100%;


    li {
      @include respond-to('lg') {
        padding-left: 50%;

      }

      &:nth-child(2n-1) {
        font-weight: bold;
        color: $primary-color;
      }

      &:nth-child(2n) {
        justify-self: end;
      text-align: end;
      }
    }

  }
}
.btn__group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  .with__auth {
    margin-left: 20px;
  }
}
