<nz-layout class='wrapper'>
  <app-header class='app-header' [isRegister]='false'></app-header>

  <div nz-row class='section__background'>

    <h1 class='details__heading'>Płuca zlepione Tomkami</h1>
    <div class='details__cover'></div>
  </div>
  <div nz-row class='section__content'>
    <ul class='details__list'>
      <li>Autor</li>
      <li>Tomek</li>
      <li>Język</li>
      <li>Tomkowy</li>
      <li>Epoka</li>
      <li>Tomka</li>
      <li>Gatunek</li>
      <li>Tomkowy</li>
      <li>Rodzaj</li>
      <li>Tomek</li>
      <li>Tłumaczenie</li>
      <li>Tomka</li>
    </ul>
    <div  class='btn__group'>
      <button nz-button nzType='primary' routerLink='/categories'>Powrót</button>
    </div>
  </div>
</nz-layout>
