<nz-layout>
  <div class='background'>
    <app-header></app-header>
    <h1 nz-typography class='sorted__value'>{{actualRoute}}</h1>
  </div>
  <nz-layout>
    <button class='open__drawer' nz-button nzType='primary' (click)='open()'><i nz-icon nzType='right'
                                                                                nzTheme='outline'></i></button>
    <nz-drawer
      [nzClosable]='false'
      [nzVisible]='visible'
      [nzPlacement]='placement'
      nzTitle='Znajdź swoją książkę?'
      (nzOnClose)='close()'
    >
      <ng-container *nzDrawerContent>
        <div class='mb'>
          <nz-input-group [nzSuffix]='suffixIconSearch'>
            <input type='text' nz-input placeholder='Wyszukaj swoją książkę' />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType='search'></i>
          </ng-template>
        </div>
        <ul nz-menu nzMode='inline'>
          <li nz-menu-item routerLink='/category'>Bestsellery</li>
          <li nz-submenu nzTitle='Gatunki'>
            <ul>
              <li (click)='changeCategory(items.name)' *ngFor='let items of genres' nz-menu-item>{{items.name}}</li>
            </ul>
          </li>
          <li nz-submenu nzTitle='Epoki'>
            <ul>
              <li (click)='changeCategory(kind.name)' *ngFor='let kind of epochs' nz-menu-item>{{kind.name}}</li>
            </ul>
          </li>
        </ul>
      </ng-container>
    </nz-drawer>

    <nz-layout class='content'>

      <nz-content nz-row [nzGutter]='{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }'
                  nzJustify='center' nzAlign='middle'>
        <p *ngIf='allBooksByCategory.length === 0'>Ładowanie danych</p>
        <app-card *ngFor='let item of books' nz-col class='mb' [slug]='item.slug' [kind]='item.kinds[0]' [title]='item.title' [description]='item.authors[0]'
                  [coverImg]='item.cover'></app-card>

      </nz-content>
    </nz-layout>
    <nz-pagination nz-row nzJustify='center' class='pagination'  (nzPageIndexChange)='changePageIndex($event)' [nzPageIndex]='selectedPage' [nzTotal]='total'
                   [nzPageSize]='10'></nz-pagination>
  </nz-layout>
  <app-footer></app-footer>
</nz-layout>
