@import "src/app/styles/main";

.background {
  height: 30vh;
  @include background-center("../../../assets/images/background6.jpg");

  .sorted__value {
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 5px;
  }
}


.open__drawer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translateX(-50%);
  padding-left: 10px;

}

.content {
  margin: 5vh 10vw;
  max-width: 2000px;

}

.pagination {
  margin: 5vh 0;
}

.mb {
  margin-bottom: 5vh;
}
