<nz-content nz-row class='section'>
  <div class='heading'>

    <img class='heading__image' [src]='shape' alt='' />
    <h1 nz-typography class='heading__text'>{{heading.toUpperCase()}}</h1>

  </div>

  <div class='cards' nz-row nzJustify='center'>
    <app-card *ngFor='let item of cardList' class='card' nz-col [nzXs]='18' [nzSm]='12' [nzXl]='6' [nzMd]='10'
              [nzXXl]='5' [title]='item.title'
              [description]='item.genres'
              [coverImg]='item.cover'></app-card>
  </div>
</nz-content>
