<nz-content nz-row class='section'>
  <div class='heading'>

    <img class='heading__image' src='../../../../assets/shapes/shape1.svg' alt='' />
    <h1 nz-typography class='heading__text'>{{heading.toUpperCase()}}</h1>

  </div>

  <div class='cards' nz-row nzJustify='center'>
    <app-card class='card' nz-col [nzXs]='18' [nzSm]='12' [nzXl]='6' [nzMd]='10' [nzXXl]='5' title='siemka'
              description='sdada'
              coverImg='https://picsum.photos/200/300/'></app-card>
    <app-card class='card' nz-col [nzXs]='18' [nzSm]='12' [nzXl]='6' [nzMd]='10' [nzXXl]='5' title='siemka'
              description='sdada'
              coverImg='https://picsum.photos/200/300/'></app-card>
    <app-card class='card' nz-col [nzXs]='18' [nzSm]='12' [nzXl]='6' [nzMd]='10' [nzXXl]='5' title='siemka'
              description='sdada'
              coverImg='https://picsum.photos/200/300/'></app-card>
    <app-card class='card' nz-col [nzXs]='18' [nzSm]='12' [nzXl]='6' [nzMd]='10' [nzXXl]='5' title='siemka'
              description='sdada'
              coverImg='https://picsum.photos/200/300/'></app-card>
  </div>
</nz-content>
