<nz-footer nz-row class='footer'>

<div class='column'>
  <h2>Czym jest aplikacja wzim-library?</h2>

  <p>Jest to strona korzystająca z open-source api “wolnelektury.pl” pozwalająca na przyjemne czytanie książek z
    różnych gatunków literackich</p>

</div>
  <div class='column'>
  <h2>Kategorie</h2>

  <ul class='column__list'>
    <a nz-button nzType='link' class='column__list__item'>
      <li>Epika</li>
    </a>
    <a nz-button nzType='link' class='column__list__item'>
      <li>Liryka</li>
    </a>
    <a nz-button nzType='link' class='column__list__item'>
      <li>Dramat</li>
    </a>
  </ul>

</div>
  <div class='column'>
  <h2>Nawigacja</h2>
  <ul class='column__list'>
    <a nz-button nzType='link' routerLink='/' class='column__list__item'>
      <li>Home</li>
    </a>
    <a nz-button nzType='link' routerLink='/category' class='column__list__item'>
      <li>Wszystkie</li>
    </a>
    <a nz-button nzType='link' routerLink='/register' class='column__list__item'>
      <li>Rejestracja</li>
    </a>
    <a nz-button nzType='link' routerLink='/login' class='column__list__item'>
      <li>Logowanie</li>
    </a>
  </ul>

</div>

</nz-footer>
