<nz-footer nz-row class='footer'>

  <div nz-col [nzMd]='8' [nzXs]='24' class='column'>
    <h2>Czym jest aplikacja wzim-library?</h2>
    <p>Jest to strona korzystająca z open-source api “wolnelektury.pl” pozwalająca na przyjemne czytanie książek z
      różnych gatunków literackich</p>

  </div>

  <div nz-col [nzMd]='8' [nzXs]='24' class='column'>
    <h2>Kategorie</h2>
    <ul class='column__list'>
      <li class='column__list__item'>Epika</li>
      <li class='column__list__item'>Liryka</li>
      <li class='column__list__item'>Dramat</li>
    </ul>
  </div>
  <div nz-col [nzMd]='8' [nzXs]='24' class='column'>
    <h2>Nawigacja</h2>
    <ul class='column__list'>
      <li class='column__list__item'>Home</li>
      <li class='column__list__item'>Wszystkie</li>
      <li class='column__list__item'>Rejestracja</li>
      <li class='column__list__item'>Logowanie</li>
    </ul>
  </div>
</nz-footer>
