<nz-header nzAlign='middle' nzJustify='space-between' nz-row class='header'>
  <div nz-col [nzXs]='8'>
    <a class='logo' nz-button nzType='link' routerLink='/'>Moja książka</a>
  </div>
  <nav *ngIf='!isRegister ? !isAuth : false' nz-col [nzXs]='12' [nzMd]='12'>
    <ul class='list-none'>
      <li><a nz-button nzType='link' class='navigation__link navigation__link--dark' routerLink='/login'>Logowanie</a>
      </li>
      <li><a nz-button nzType='link' class='navigation__link' routerLink='/register'>Rejestracja</a></li>
    </ul>
  </nav>
  <div *ngIf='isAuth && !isRegister' nz-col [nzXs]='12' [nzMd]='12'>
    <div nz-row nzJustify='end' nzAlign='middle'>
      <h5 class='user'>Witaj<span class='user--dark'>{{name}}</span></h5>
      <i class='user__dropdown' nz-dropdown nzTrigger='click' nzTheme='outline' [nzDropdownMenu]='menu' nz-icon
         nzType='setting'></i>
      <nz-dropdown-menu #menu='nzDropdownMenu'>
        <ul nz-menu nzSelectable>
          <li nz-menu-item ><a [routerLink]='["/user", name]' style='color: #000'> Moje konto</a></li>
          <li nz-menu-item (click)='logout()'>Wyloguj się</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</nz-header>
