<div nz-row nzJustify='center' nzAlign='middle' style='height: 50vh;'>
  <form nz-form nzLayout='vertical' nz-col [nzXs]='20' [nzMd]='8' [formGroup]='formGroup' (ngSubmit)='submitForm()'>
    <nz-form-item>
      <nz-form-label nzRequired><span>Poprzednie hasło:</span></nz-form-label>
      <nz-form-control>
        <nz-input-group [nzSuffix]='oldPasswordTemplate'>
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
          />
        </nz-input-group>
        <ng-template #oldPasswordTemplate>
          <i nz-icon [nzType]="!oldPasswordVisible ? 'eye-invisible' : 'eye'"
             (click)='oldPasswordVisible = !oldPasswordVisible'></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired><span>Nowe hasło:</span></nz-form-label>
      <nz-form-control>
        <nz-input-group [nzSuffix]='passwordTemplate'>
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
          />
        </nz-input-group>
        <ng-template #passwordTemplate>
          <i nz-icon [nzType]="!passwordVisible ? 'eye-invisible' : 'eye'"
             (click)='passwordVisible = !passwordVisible'></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired><span>Powtórz nowe hasło:</span></nz-form-label>
      <nz-form-control>
        <nz-input-group [nzSuffix]='confirmTemplate'>
          <input
            [type]="!confirmPasswordVisible ? 'text' : 'password'"
            nz-input
          />
        </nz-input-group>
        <ng-template #confirmTemplate>
          <i nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
             (click)='confirmPasswordVisible = !confirmPasswordVisible'></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <div nz-row nzJustify='end'>
      <button type='submit' nz-button nzType='primary' class='leftMargin'>Zatwierdź</button>
    </div>
  </form>
</div>
