// COLORS
$gray-dark: #4A6572;
$dark: #344955;
$white: #ffffff;
$primary-color: #F9AA33;
$background-color: #01121C;
$background-darkMode: #141414;

// BREAKPOINTS
$breakpoints: (
  'xs': 575px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1600px
) !default;


// FONT SIZE

$font-size: (
  '4xl': 3.812rem,
  'xxxl': 3.062rem,
  'xxl': 2.438rem,
  'xl': 1.938rem,
  'l': 1.562rem,
  'm': 1.25rem,
  's': 1rem,
  'xs': 0.812rem,
  'xxs': 0.625rem
);
