<div nz-row nzJustify='center' nzAlign='middle' style='height: 50vh;'>
  <form nz-form nzLayout='vertical' nz-col [nzXs]='20' [nzMd]='8'>
    <nz-form-item>
      <nz-form-label nzRequired><span>Aktualne hasło:</span></nz-form-label>
      <nz-form-control>
        <nz-input-group [nzSuffix]='passwordTemplate'>
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
          />
        </nz-input-group>
        <ng-template #passwordTemplate>
          <i nz-icon [nzType]="!passwordVisible ? 'eye-invisible' : 'eye'"
             (click)='passwordVisible = !passwordVisible'></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired><span>Pytanie weryfikacyjne:</span></nz-form-label>
      <nz-select nzServerSearch nzAllowClear>
        <nz-option nzLabel='Czy coś tam działa?' nzValue='N'></nz-option>
        <nz-option nzLabel='Jak się mają tomki?' nzValue='F'></nz-option>
        <nz-option nzLabel='Co pije krowa?' nzValue='M'></nz-option>
      </nz-select>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired><span>Odpowiedź:</span></nz-form-label>
      <nz-form-control>
        <input nz-input nzSize='default' type='text' />
      </nz-form-control>
    </nz-form-item>
    <div nz-row nzJustify='end'>
      <button type='submit' nz-button nzType='primary' class='leftMargin'>Zatwierdź</button>
    </div>
  </form>
</div>
